<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Personal Blogs from "Ask HN: What is your blog..."</title>
      <link rel="stylesheet" href="https://newcss.net/new.min.css">
  </head>
  <body>
      <header>
        <h1>Discover a random personal blog</h1>
        <a href="/about">about</a>
        </header>
      <content>
      <p>Find a random blog (post) provided by their authors to <em>Hacker News:</em></p>
      <h2>
        <a href="<%= random_url %>" 
            target="_blank" 
            class="center-me"
            rel="noreferrer noopener"><%= random_url %>
        </a>
      </h2>
      <p><b>What is this? Where does the link come from again?</b></p>
      <p>Last week I read <a href="https://news.ycombinator.com/item?id=22800136">a post</a> titled:
        <em>Ask Hacker News: What is your blog and why should I read it?</em>
      </p>
      <p>So many people shared such cool blogs.</p>
      
      <p>I wanted to visit the these blogs randomly, to discover new people and their websites.</p>
      
      <p>So I built a little tool that does just that. 😁</p>
      <form action="" method="get" id="reload">
      </form>
      <div>
        <button type="submit" class="button" form="reload" value="Submit">Get Another Blog Post</button>
      </div>
    </content>
      
    <footer>  
      <p>Made with ❤️ by <a href="https://josh.works/">Josh Thompson</a></p>
      <p>This tiny project is part of <a href="https://intermediateruby.com/">Intermediate Ruby</a></p>
      <p><a href="https://github.com/josh-works/ruby_web_scraping">Git repo</a></p>
    </footer>
  </body>
</html>
