<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>i am title</title>
  </head>
  <body>
    <h2>A high-quality and somewhat random personal blog</h2>
    <p>A while back, I read <a href="https://news.ycombinator.com/item?id=22800136">Ask HN: What is your blog and why should I read it?</a> </p>
    <p>I loved all the personal blogs people listed!</p>
    <p>I wanted a way to visit them all</p>
    
    <p>So I built a little tool that does just that.</p>
    <p>Here's a random URL from a top-level comment on the above HN thread:</p>
    
    <h2>
      <a href="<%= random_url %>"> <%= random_url %> </a>
    </h2>
    
    <footer>
      <a href="https://github.com/josh-works/ruby_web_scraping">Git Repo</a>
      </footer>
  </body>
</html>