<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Personal Blogs from "Ask HN"</title>
      <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h2>A high-quality and somewhat random personal blog</h2>
    
    <p>Here's a random, personally-submitted URL to a blog or specific blog post:</p>
  
    <h2>
      <a href="<%= random_url %>" 
          target="_blank" 
          rel="noreferrer noopener"><%= random_url %></a>
    </h2>
    
    <p>A while back, I read a post titled:
      <a href="https://news.ycombinator.com/item?id=22800136">Ask Hacker News: What is your blog and why should I read it?</a>
    </p>
    <p>I loved all the personal blogs people listed!</p>
    <p>I wanted a way to visit them all</p>
    
    <p>So I built a little tool that does just that.</p>
    
    <form action="" method="get" id="reload">
    </form>
    <button type="submit" form="reload" value="Submit">Get Another Blog Post</button>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <footer>
      <p>Made with ❤️ by <a href="https://josh.works/">josh thompson</a></p>
      <a href="https://github.com/josh-works/ruby_web_scraping">Git repo for this little project</a>
    </footer>
  </body>
</html>