<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Personal Blogs from "Ask HN"</title>
      <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h2>A somewhat random personal blog</h2>
    
    <p>Find a random blog (post) provided by their authors to Hacker News:</p>
    <br>
    <h2>
      <a href="<%= random_url %>" 
          target="_blank" 
          rel="noreferrer noopener"><%= random_url %></a>
    </h2>
    
    <br>
    <p>Why did I make this? </p>
    <p>A while back, I read a post titled:
      <a href="https://news.ycombinator.com/item?id=22800136">Ask Hacker News: What is your blog and why should I read it?</a>
    </p>
    <p>So many people shared such cool blogs!</p>
    <p>I wanted to visit the these blogs randomly, to discover new people and their websites.</p>
    
    <p>So I built a little tool that does just that.</p>
    
    <form action="" method="get" id="reload">
    </form>
    <button type="submit" class="button" form="reload" value="Submit">Get Another Blog Post</button>
    <br>
    <br>
    <br>
    <footer class="footer">
      <p>Made with ❤️ by <a href="https://josh.works/">josh thompson</a></p>
      <a href="https://github.com/josh-works/ruby_web_scraping">Git repo for this little project</a>
      <br>
    </footer>
  </body>
</html>