* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  /* outline all elements for debugging */
  /* border: 1px dotted black;  */
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #515151;
  background-color: #fff;
}

html {
  height: 100%;  
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

content {
  flex: 1 0 auto;
}

footer {
  height: 160px;
  line-height: .8em;
  text-align: center;
  background: #664E74;
  color: white;
  font-size: .9em;
}

a:link, a:visited {
  text-decoration: none;
  color: #3ca4ff;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3 {
  color: #44c767;
}

.button {
       background-color:#44c767;
       border-radius:28px;
       border:1px solid #18ab29;
       display:inline-block;
       cursor:pointer;
       color:#ffffff;
       font-family:Arial;
       font-size:31px;
       padding:16px 31px;
       text-decoration:none;
       text-shadow:0px 1px 0px #2f6627;
}
.button:active {
       position:relative;
       top:1px;
}

.center-me {
  text-align: center;
}
